<html>
	<head>
		<title>Ruzette's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Ruzette's Blog</a></h1>
		</div>
		<div>
			<p>published: 24 March 2018, 16:00</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
		</div>
		<div>
			<p>published: 24 March 2018, 16:00</p>
			<h2><a href="">My second post</a></h2>
			<p>Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
		</div>
		<div>
			<h2>Original Message:</h2>
			<p>Hi there!</p>
			<p>It works!</p>
		</div>
	</body>
</html>